<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PROJEKT</title>
        <meta name="description">
        <link rel="stylesheet" th:href="@{/style.css}">
    </head>
    <body>

		

        <div class = "content">
            <div class = "middle">
	            <div>
					<p th:text="${msg}"></p>
				</div>
                <div class = "inputs">
                    <h2>DODAJ LINK RSS LUB EMAIL</h2>
                    <form th:action="@{/save}" method="post">
                    <label>Linki RSS</label>
                    <input type="url" name="link">
                    <label>Email</label>
                    <input th:if="${emptyemail == true}" type="email" name="email" th:value="${email}">
                    <input th:unless="${emptyemail == true}" type="email" name="email" th:value="${email}" disabled>
                    <button>save</button>
                    </form>
                </div>
                <div class ="list">
                    <div class = "middlelist" th:each="r : ${linklist}">
                      <span th:text="${r.link}" ></span> <a th:href="@{'/delete/' + ${r.id}}">usuń</a>
                    </div>
                </div>
                <div class = "text">
                    <div>
                    <textarea th:text="${content}"></textarea>
                    </div>
                    <div>
                    <a th:href="@{/send}">Send</a>
                    </div>
                </div>
            </div>
            
        </div>
		
		
    </body>
</html>
